/*Photo by Iñigo De la Maza on Unsplash*/
body {
    background-image: url("img/cows.jpg");
}

#main-message {
    font-size:100px;
    color:red;
    float:right;
}

@media screen and (max-width: 900px) {
    #main-message {
        font-size:50px;
        color:red;
    }
}